<html>
    <body>
    	<h3 i18n="Title of the Behavior Model Confirm Delete modal">Delete behavior model</h3>
        <div i18n="Message of the Behavior Model Confirm Delete modal">
          Are you sure you want to delete the behavior model named "{{behaviorModelName}}"?
        </div>
        <br>
        <br>

        <div class="buttonContainer">
            <div class="btn-group">
                <button mat-raised-button color="primary" style="background-color: 'red'; border-radius: 5px; width: 80px; margin-right: 10px;" (click)="onYesButtonClicked()" i18n="Behavior Model Confirm Delete modal yes button">Yes</button>
                <button mat-raised-button mat-dialog-close style="background-color: '#595959'; border-radius: 5px; width: 80px; margin-left: 10px;" i18n="Behavior Model Confirm Delete modal no button">No</button>
            </div>
        </div>
    </body>
</html>