<body>

  <h2>List of behavior models</h2>

  <br />
  <span style="padding-left: 70px;">Select a behavior model from the list by clicking its name.</span>
  <br /><br />

  <div class="behaviorModelListTable">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      
      <ng-container matColumnDef="filterTitle">>
        <th mat-header-cell *matHeaderCellDef [style.width.%]="30"
          [attr.colspan]="1">
          Filter by name:
        </th>
      </ng-container>

      <ng-container matColumnDef="filterTextbox">>
        <th mat-header-cell *matHeaderCellDef
          [attr.colspan]="3">
          <mat-form-field [style.width.%]="50" floatLabel="never">
            <input matInput (keyup)="applyFilter($event)" placeholder="Example: Model 1" [(ngModel)]="this.filterInput" maxlength="200">
            <button class="filter" *ngIf="this.filterInput" matSuffix mat-icon-button (click)="this.removeFilter()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let behaviorModel" (click)="goToEditBehaviorModel(behaviorModel._id)" style="cursor: pointer;"> {{behaviorModel.name}} </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of creation </th>
        <td mat-cell *matCellDef="let behaviorModel"> {{behaviorModel.creationDate}} </td>
      </ng-container>

      <ng-container matColumnDef="valid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model is valid? </th>
        <td mat-cell *matCellDef="let behaviorModel">
          <mat-icon class="check" matTooltip="Model is valid" *ngIf="behaviorModel.valid">check</mat-icon>
          <mat-icon class="close" matTooltip="Model is not valid" *ngIf="!behaviorModel.valid">close</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let behaviorModel">
          <mat-icon class="copy" matTooltip="Make a copy of the behavior model" (click)="openCopyNotificationModal(behaviorModel._id, behaviorModel.name)">content_copy</mat-icon>
          <mat-icon class="delete" matTooltip="Delete the behavior model" (click)="openDeleteConfirmModal(behaviorModel._id, behaviorModel.name)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['filterTitle', 'filterTextbox']"></tr>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    </table>  

  </div>

  <br />

  <div class="newBehaviorModelButton" style="text-align: right;">
    <button mat-raised-button color="primary" routerLink="/new-behavior-model" style="border-radius: 5px;">New behavior model</button>
  </div>

</body>