body {
    text-align: left;
    margin: auto;
    max-width: 650px;
}

button {
    border-radius: 5px;
}

button[disabled] {
    background-color: lightgreen;
    cursor: default;
}

input[disabled] {
    color: black;
}

#simulationInfo {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

mat-label {
    text-align: left;
    width: 100%;
}

#descriptionLabel {
    padding-bottom: 85px;
}

#descriptionInfo {
    height: 70%;
    width: 100%;
    overflow: auto;
    padding: 14px 14px 14px 14px;
    background-color: #f2f2f2;
}

.info {
    width: 100%;
    padding: 14px 14px 14px 14px;
    background-color: #f2f2f2;
}