<html>
    <body>

        <button mat-raised-button color="primary" (click)="addPageNode()">
            <img src="/assets/model_page.png" style="height: 30px"><br>Page
        </button>
        <button mat-raised-button color="primary" (click)="addQueryNode()">
            <img src="/assets/model_query.png" style="height: 30px"><br>Query
        </button>
        <button mat-raised-button color="primary" (click)="addBookmarkNode()">
            <img src="/assets/model_bookmark.png" style="height: 30px"><br>Bookmark
        </button>
        <button mat-raised-button color="primary" (click)="addUnBookmarkNode()">
            <img src="/assets/model_unbookmark.png" style="height: 30px"><br>Unbookmark
        </button>
        <button mat-raised-button color="primary" (click)="addEndNode()">
            <img src="/assets/model_end.png" style="height: 30px"><br>End
        </button>
        <!-- <button mat-raised-button color="primary">JSON</button> 

        <div id="modelContainer" style="width: 1000px; height: 400px; overflow: scroll;"> -->
            <div id="modelEditor"></div>
        <!-- </div> -->

        <div id="JSONtext"></div>

    </body>
</html>