<html>
    <body>

        <button mat-raised-button color="primary" (click)="addPageNode()">Page</button>
        <button mat-raised-button color="primary" (click)="addQueryNode()">Query</button>
        <button mat-raised-button color="primary" (click)="addBookmarkNode()">Bookmark</button>
        <button mat-raised-button color="primary" (click)="addUnBookmarkNode()">Unbookmark</button>
        <button mat-raised-button color="primary" (click)="addEndNode()">End</button>
        <button mat-raised-button color="primary">JSON</button>

        <!-- <div id="modelContainer" style="width: 1000px; height: 400px; overflow: scroll;"> -->
            <div id="modelEditor"></div>
        <!-- </div> -->

        <div id="JSONtext"></div>

    </body>
</html>