<html>
    <body>

        <br /><br /><br /><br />

        <div class="title" style="text-align: center;">
            <h2>New behavior model</h2>
            <h3>Model design</h3>
        </div> 

        <br /><br />


        <form [formGroup]="behaviorModelForm">
            <mat-form-field [style.width.%]="50" appearance="fill">
                <mat-label>Model name:</mat-label>

                <input matInput placeholder="Example: Model 1" required formControlName="name" maxlength="100">

                <button class="clear" *ngIf="behaviorModelForm.get('name')?.value" matSuffix mat-icon-button (click)="this.clearTextInput('name')">
                    <mat-icon>close</mat-icon>
                </button>

                <mat-error *ngIf="behaviorModelForm.get('name')?.hasError('required')">You must enter a name.</mat-error>
                <mat-error *ngIf="behaviorModelForm.get('name')?.hasError('nameExists')">The model name already exists.</mat-error>
            </mat-form-field>

            <div style="font-size: 11px; font-family: roboto; text-align: left; margin-left: 270px; margin-top: -20px;" *ngIf="behaviorModelForm.get('name')?.value.length == 100">You have reached the maximum number of characters.</div>

            <div style="color: white; font-size: 11px; font-family: roboto; text-align: left; margin-left: 270px; margin-top: -20px;" *ngIf="behaviorModelForm.get('name')?.value.length < 100">.</div>
        </form>

        <br>

        You can double-click on a node or link to edit its properties.
        <br><br>
        <div class="optionsContainer">
            <button mat-raised-button color="primary" (click)="addQueryAction()">
                <img src="/assets/behavior-model-query.png" style="height: 30px"><br>Query
            </button>
            <button mat-raised-button color="primary" (click)="addSERPAction()">
                <img src="/assets/behavior-model-serp.png" style="height: 35px"><br>SERP
            </button>
            <button mat-raised-button color="primary" (click)="addPageAction()">
                <img src="/assets/behavior-model-page.png" style="height: 30px"><br>Page
            </button>
            <button mat-raised-button color="primary" (click)="addBookmarkAction()">
                <img src="/assets/behavior-model-bookmark.png" style="height: 30px"><br>Bookmark
            </button>
            <button mat-raised-button color="primary" (click)="addUnBookmarkAction()">
                <img src="/assets/behavior-model-unbookmark.png" style="height: 30px"><br>Unbookmark
            </button>
            <button id="lastButton" mat-raised-button color="primary" (click)="addEndAction()">
                <img src="/assets/behavior-model-end.png" style="height: 30px"><br>End
            </button>

            <div id="behaviorModelContainer" #behaviorModelContainer style="width: 1000px; height: 400px; overflow: scroll;" (scroll)="onScroll($event)" >
                <div id="behaviorModelEditor"></div>
            </div>

            <button mat-raised-button color="primary" (click)="zoomInAction()">
                <span><mat-icon class="content_copy">zoom_in</mat-icon> Zoom in</span>
            </button>
            <button mat-raised-button color="primary" (click)="zoomOutAction()">
                <mat-icon class="content_copy">zoom_out</mat-icon> Zoom out
            </button>
            <button class="lastButton" mat-raised-button color="primary" (click)="restoreZoomAction()">
                <mat-icon class="content_copy">zoom_out_map</mat-icon> Default view
            </button>
            <span style="padding: 0px 20px;">
                Current zoom: {{this.paperScaleString}}%
            </span>    
        </div>

        <br><br>

        <div class="additionalOptions">
            <button type="submit" form="behaviorModelForm" class="submitButton" [disabled]="behaviorModelForm.invalid" class="additionalOptionsButton" (click)="addBehaviorModel()" mat-raised-button color="primary" style="margin-right: 20px; background-color: 'green';">
                Save model
            </button>
            <button type="button" class="additionalOptionsButton" mat-raised-button color="primary" (click)="discardModel()" style="background-color: '#595959';">
                Discard model
            </button>
        </div>

        <br><br><br>

        <div class="validationList" *ngIf="modelValid == false && errorMessages.length > 0">
            <h3 style="text-align: center;">List of errors</h3>
                <mat-list>
                    <mat-list-item *ngFor="let errorMessage of errorMessages">
                        <table style="width: 100%;">
                            <tr>
                                <td><span style="text-align: left;">{{errorMessage}}</span></td>
                            </tr>
                        </table>
                    </mat-list-item>
                </mat-list>
        </div>

        <br><br><br><br><br><br><br><br>
        <button *ngIf="false" mat-raised-button color="primary" (click)="toJSONAction()">
            <br>To JSON
        </button>
    </body>
</html>