table {
    width: 100%;
}

body {
    background-color: #F0E3FF;
    padding: 1em 1em 1em 1em;
}

h2 {
    text-align: center;
}

.modelListTable {
    padding: 0px 5em 0px 5em;
    max-height: 250px;
    overflow: auto;
}

.mat-header-cell {
    background-color: #B0C4EC;
    font-weight: bold;
    color: black;
}

:host ::ng-deep .mat-header-cell {
    top: 0;
    position: sticky;
    z-index: 1000;
}

.mat-cell {
    background-color: #E0E8F8;
}