<html>
    <body>
    	<h3>Delete simulation</h3>
        <div>
          Are you sure you want to delete the simulation named "{{simulationName}}"?
        </div>
        <br>
        <br>

        <div class="btn-group">
            <button mat-raised-button color="primary" style="background-color: 'red'; border-radius: 5px; width: 80px; margin-right: 10px;" (click)="onYesButtonClicked()">Yes</button>
            <button mat-raised-button mat-dialog-close style="background-color: '#595959'; border-radius: 5px; width: 80px; margin-left: 10px;">No</button>
        </div>
    </body>
</html>