<html>
    <body>
    	<h3 i18n="Title of the Simulation Copied modal">Copy simulation</h3>
        <div i18n="Message of the Simulation Copied modal">
          The simulation "{{simulationName}}" has been copied.
        </div>
        <br>
        <br>

        <div class="buttonContainer">
            <button mat-raised-button color="primary" style="border-radius: 5px; width: 80px; margin-right: -270px;" (click)="onOKButtonClicked()" i18n="Button of the Simulation Copied modal">OK</button>
        </div>
    </body>
</html>