<html>
    <body>
    	<h3 i18n="Title of the generic error message modal">Error</h3>
        <div i18n="Message of the generic error message modal">
          An unknown error occurred.
        </div>
        <br>
        <br>

        <div class="buttonContainer">
            <button mat-raised-button color="primary" style="border-radius: 5px; width: 80px; margin-right: -430px;" (click)="onOKButtonClicked()" i18n="Button of the generic error message modal">OK</button>
        </div>
    </body>
</html>