<html>
    <body>
    	<h3 i18n="Title of the Simulation Edited modal">Edit simulation</h3>
        <div i18n="Message of the Simulation Edited modal">
          The simulation has been edited.
        </div>
        <br>
        <br>

        <div class="buttonContainer">
            <button mat-raised-button color="primary" style="border-radius: 5px; width: 80px; margin-right: -270px;" (click)="onOKButtonClicked()" i18n="Button of the Simulation Edited modal">OK</button>
        </div>
    </body>
</html>