/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
	background-color: #4778F4;
    border: none;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    width: 12em;
    cursor: pointer;
}

button[disabled] {
    background-color: lightblue;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element{
    background-color: #2A57A1;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #2A57A1;
}

.snackbar-model-error {
    background-color: #5E2222;
    color: white;
}

.mat-simple-snackbar-action {
    color: lightgrey;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: grey;
}