<html>
    <body>
    	<h3 i18n="Title of the Simulation Not Deployable modal">Deploy simulation</h3>
        <div i18n="Message of the Simulation Not Deployable modal">
          The simulation cannot be deployed, because its assigned behavior model ({{behaviorModelName}}) is invalid. Change the behavior model assigned to the simulation, or modify the behavior model so that it becomes valid.
        </div>
        <br>
        <br>

        <div class="buttonContainer">
            <button mat-raised-button color="primary" style="border-radius: 5px; width: 80px; margin-right: -410px;" (click)="onOKButtonClicked()" i18n="Button of the Simulation Not Deployable modal">OK</button>
        </div>
    </body>
</html>