table {
    width: 100%;
    table-layout: fixed;
}

body {
    background-color: #FFF2E3;
    padding: 1em 1em 1em 1em;
}

h2 {
    text-align: center;
}

.simulationListTable {
    padding: 0px 5em 0px 5em;
    max-height: 250px;
    overflow: auto;
}

.mat-header-cell {
    background-color: #B0C4EC;
    font-weight: bold;
    color: black;
}


:host ::ng-deep .mat-header-cell {
    top: 0;
    position: sticky;
    z-index: 1000;
}

.mat-cell {
    background-color: #E0E8F8;
}

.filter {
    color: black;
    background-color: transparent;
    width: 5px;
    position: relative;
    left: -10px;
}

.play_arrow {
    color: green;
    transform: scale(1.3);
}

.stop {
    color: blue;
    transform: scale(1.3);
}

.autorenew {
    color: orange;
    transform: scale(1.2);
}

.copy {
    color: black;
}

.delete {
    color: red;
}

mat-icon {
  padding: 0px 10px 0px 0px;
  cursor: pointer;
}

.newSimulationButton {
  padding: 0px 68px 0px 0px;
}

/*.simulationName:hover {
    text-decoration: underline;
}*/