table {
    width: 100%;
    table-layout: fixed;
}

body {
    background-color: #FFF2E3;
    padding: 1em 1em 1em 1em;
}

h2 {
    text-align: center;
}

.simulationListTable {
    padding: 0px 5em 0px 5em;
    max-height: 400px;
    overflow: auto;
}

.mat-header-cell {
    background-color: #B0C4EC;
    font-weight: bold;
    color: black;
}

.mat-cell {
    background-color: #E0E8F8;
}

.filter {
    color: black;
    background-color: transparent;
    width: 5px;
    position: relative;
    left: -10px;
}

.copy {
    color: black;
}

.delete {
    color: red;
}

mat-icon {
  padding: 0px 10px 0px 0px;
  cursor: pointer;
}

.newSimulationButton {
  padding: 0px 68px 0px 0px;
}

mat-paginator {
    background-color: #FFF2E3
}

.deployOptionsButton {
    background-color: green;
    width: auto;
}