body {
    text-align: center;
    margin: auto;
    max-width: 800px;
}

mat-label {
    width: 300px;
}

mat-radio-button {
    margin: 0 12px;
}

.radio {
    text-align: left;
    margin: 0 100px;
}

.slider {
    text-align: left;
    margin: 0 0 0 100px;
}

mat-slider {
    width: 300px;
}

.clear {
    color: black;
    background-color: transparent;
    width: 5px;
    position: relative;
    left: -10px;
}

mat-icon {
  padding: 0px 10px 0px 0px;
}

mat-error {
    display: none;
}

form mat-error:first-child {
    display: block;
}

::ng-deep .mat-slider-thumb {
    background-color: #2A57A1 !important;
}

::ng-deep .mat-slider-thumb-label {
    background-color: #2A57A1 !important;
}

::ng-deep .mat-slider-track-fill {
  background-color: #2A57A1 !important;
}

button {
    background-color: green;
}

button[disabled] {
    background-color: lightgreen;
}