<html>
    <body>

    	<br /><br /><br /><br />

		<h2>Edit simulation "{{simulationInitialName}}"</h2>
		<h3>Query list settings</h3>

		<br /><br />

		<p style="text-align: left; padding: 0 120px;">Please add the queries for the simulation.</p>

		<form [formGroup]="queryForm" (ngSubmit)="addQuery('query')">

	        <mat-form-field [style.width.%]="70" appearance="fill">
				<mat-label>Query</mat-label>

				<input matInput placeholder="Example: What is a neural network?" required formControlName="query" (input)="onInputChange()" maxlength="200">

	            <button class="clear" *ngIf="queryForm.get('query')?.value" matSuffix mat-icon-button (click)="this.clearTextInput('query')">
              		<mat-icon>close</mat-icon>
            	</button>

				<mat-error *ngIf="queryForm.get('query')?.hasError('required')">You must enter a query.</mat-error>
				<mat-error *ngIf="queryForm.get('query')?.hasError('queryExists')">The query already exists on the list.</mat-error>
			</mat-form-field>

			<div style="font-size: 11px; font-family: roboto; text-align: left; margin-left: 130px; margin-top: -15px;" *ngIf="queryForm.get('query')?.value.length == 200">You have reached the maximum number of characters.</div>

            <div style="color: white; font-size: 11px; font-family: roboto; text-align: left; margin-left: 130px; margin-top: -15px;" *ngIf="queryForm.get('query')?.value.length < 200">.</div>

	        <div class="btn-group">
	            <button type="submit" #submitQuery [disabled]="queryForm.invalid || forceDisableSubmitButton" mat-raised-button color="primary" style="border-radius: 5px; width: 200px; margin-left: 360px;">Add query</button>
	        </div>

	    </form>

	    <br><br>

	    <div class="queryList" #queryListRef>
			<mat-list>
			  	<mat-list-item *ngFor="let query of queryList">
			  		<table style="width: 100%;">
			  			<tr>
			  				<td style="width: 95%;">{{query}}</td>
			    			<td style="width: 5%;"><span style="text-align: left;"><mat-icon class="delete" matTooltip="Delete the query" (click)="deleteQuery(query)">delete</mat-icon></span></td>
			    		</tr>
			    	</table>
			  	</mat-list-item>
			</mat-list>
		</div>

		<br>

        <button [disabled]="queryList.length == 0" mat-raised-button color="primary" style="border-radius: 5px; width: 200px; margin-left: 360px;" (click)="clearQueryList()">Clear list</button>

	    <br><br><br><br>

		<div class="btn-group" style="text-align: right; margin-right: 120px;">
            <button mat-raised-button color="primary" style="border-radius: 5px; width: 200px;" (click)="saveQueryList()">Return</button>
	    </div>

	    <br><br><br><br>

    </body>

</html>