<html>
    <br /><br /><br /><br />
    <h2 style="text-align: center;">Deploy simulation "{{simulationName}}"</h2>
		<h3>Settings</h3>
    <body>

      <div class="deployConfig">

	      <div id="deployInfo">
	        <mat-grid-list cols="3" rowHeight="15px">
	          <mat-grid-tile [colspan]="1" [rowspan]="5">
	            <mat-label><b>Simulation status:</b></mat-label>
	          </mat-grid-tile>
	          <mat-grid-tile [colspan]="2" [rowspan]="5">
	            <div class="info">{{status}}</div>
	          </mat-grid-tile>
	          <mat-grid-tile [colspan]="1" [rowspan]="5">
	            <mat-label><b>Time elapsed:</b></mat-label>
	          </mat-grid-tile>
	          <mat-grid-tile [colspan]="2" [rowspan]="5">
	            <div class="info"><cd-timer #basicTimer format="ms" [endTime]="endTime" (onComplete)="triggerStop()"></cd-timer> <span *ngIf="showMaxLengthReached"> [maximum length reached]</span></div>
	          </mat-grid-tile>
	        </mat-grid-list>
	      </div>

	      <br><br>

	      <div class="btn-group" style="text-align: center">
	        <button id="deploy" [disabled]="!deployEnabled" mat-raised-button color="primary" style="margin-right: 20px;" (click)="deploy()">
	            <mat-icon class="iconStart">play_arrow</mat-icon>  <span style="margin-left: 15px;"> Start deploy</span>
	        </button>
	        <button id="stop" [disabled]="!stopEnabled" type="submit" class="submitButton" mat-raised-button color="primary" style="margin-right: 20px;" (click)="stop()">
	           	<mat-icon class="iconStop">stop</mat-icon> <span style="margin-left: 18px;"> Stop deploy</span>
	        </button>
	        <button id="restart" [disabled]="!restartEnabled" mat-raised-button color="primary" (click)="restart()">
				<mat-icon class="iconRestart">autorenew</mat-icon>  <span style="margin-left: 22px;"> Restart deploy</span>
	        </button>
	      </div>

	  </div>

      <br><br><br>

			<h3>Actions</h3>

      <div class="actionsTable">

        <table mat-table #actionsTable [dataSource]="dataSource" class="mat-elevation-z8" matSort> 

	      <ng-container matColumnDef="filterTitle">>
	        <th mat-header-cell *matHeaderCellDef [style.width.%]="20"
	          [attr.colspan]="1">
	          Filter by student number:
	        </th>
	      </ng-container>

	      <ng-container matColumnDef="filterTextbox">>
	        <th mat-header-cell *matHeaderCellDef
	          [attr.colspan]="2">
	          <mat-form-field [style.width.%]="80" floatLabel="never">
	            <input matInput (keyup)="applyFilter($event)" placeholder="Example: 5" [(ngModel)]="this.filterInput" maxlength="200">
	            <button class="filter" *ngIf="this.filterInput" matSuffix mat-icon-button (click)="this.removeFilter()">
	              <mat-icon>close</mat-icon>
	            </button>
	          </mat-form-field>
	        </th>
	      </ng-container>

	      <ng-container matColumnDef="username">
	        <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
	        <td mat-cell class="username" *matCellDef="let action" [style.color]="action.type === 'B'
	        ? 'blue'
	        : action.type === 'K'
	        ? '#753B0F'
	        : action.type === 'Q'
	        ? 'purple'
	        : action.type === 'V'
	        ? 'green'
	        : 'black'
	        "> Student {{action.username}} </td>
	      </ng-container>

	      <ng-container matColumnDef="action">
	        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
	        <td mat-cell *matCellDef="let action" [style.color]="
	        action.type === 'B'
	        ? 'blue'
	        : action.type === 'K'
	        ? '#753B0F'
	        : action.type === 'Q'
	        ? 'purple'
	        : action.type === 'V'
	        ? 'green'
	        : 'black'
	        "> {{action.action}} </td>
	      </ng-container>

	      <ng-container matColumnDef="localTimestamp">
	        <th mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </th>
	        <td mat-cell *matCellDef="let action" [style.color]="
	        action.type === 'B'
	        ? 'blue'
	        : action.type === 'K'
	        ? '#753B0F'
	        : action.type === 'Q'
	        ? 'purple'
	        : action.type === 'V'
	        ? 'green'
	        : 'black'
	        "> {{action.localTimestamp}} </td>
	      </ng-container>

	      <tr mat-header-row *matHeaderRowDef="['filterTitle', 'filterTextbox']"></tr>
	      <tr mat-header-row *matHeaderRowDef="columns"></tr>
	      <tr mat-row *matRowDef="let row; columns: columns;"></tr>

	    </table>

	    <mat-paginator class="paginator" showFirstLastButtons [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

	  </div> 

      <br><br><br><br>

			<!-- ARREGLAR MARGIN RIGHT (AL CAMBIAR ZOOM SE CORRE EL BOTON), Y REVISAR OTRAS CONFIGURACIONES SIMILARES EN EL CODIGO -->
      <div style="text-align: right; margin-right: 255px;"> 
        <button class="additionalOptionsButton" mat-raised-button color="primary" (click)="goToSimulationSettings()">
            Return
        </button>
      </div>
      
      <br><br><br><br>
    </body>
</html>