body {
    text-align: left;
    margin: auto;
}

.deployConfig {
    text-align: left;
    max-width: 650px;
    margin: auto;
}

.actionsTable {
    max-width: 850px;
    margin: auto;
}

button {
    border-radius: 5px;
}

#deployInfo {
    padding-left: 30px;
    padding-right: 30px;
    /*background-color: #D3DCF2;*/
}

mat-label {
    text-align: left;
    width: 100%;
}

.info {
    width: 100%;
    padding: 14px 14px 14px 14px;
    background-color: #f2f2f2;
}

.iconStart {
    color: white;
    position: absolute;
    transform: scale(1.1);
    margin-top: -3px;
    margin-left: -10px;
}

.iconStop {
    color: white;
    position: absolute;
    transform: scale(1.1);
    margin-top: -3px;
    margin-left: -6px;
}

.iconRestart {
    color: white;
    position: absolute;
    transform: scale(1);
    margin-top: -3px;
    margin-left: -6px;
}

#deploy:enabled {
    background-color: green
}

#deploy:disabled {
    background-color: lightgreen;
    cursor: default;
}

#stop:enabled {
    background-color: blue
}

#stop:disabled {
    background-color: lightblue;
    cursor: default;
}

#restart:enabled {
    background-color: #D48900;
}

#restart:disabled {
    background-color: #F5CB7F;
    cursor: default;
}

table {
    width: 100%;
    table-layout: fixed;
}

.actionsTable {
    padding: 0px 5em 0px 5em;
    max-height: 250px;
    overflow: auto;
}

.mat-header-cell {
    background-color: #B0C4EC;
    font-weight: bold;
    color: black;
}

:host ::ng-deep .mat-header-cell {
    top: 0;
    position: sticky;
    z-index: 1000;
}

.mat-cell {
    background-color: #E0E8F8;
}

.filter {
    color: black;
    background-color: transparent;
    width: 5px;
    position: relative;
    left: -10px;
    top: 5px;
}

h3 {
    text-align: center;
}