body {
    text-align: left;
    margin: auto;
    max-width: 650px;
}

button {
    border-radius: 5px;
}

button[disabled] {
    background-color: lightgreen;
    cursor: default;
}

input[disabled] {
    color: black;
}

#behaviorModelInfo {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

mat-label {
    text-align: left;
    width: 100%;
}

.info {
    width: 100%;
    padding: 14px 14px 14px 14px;
    background-color: #f2f2f2;
}

.check {
    color: green;
    cursor: default;
    transform: scale(1.5);
}

.close {
    color: #803434;
    cursor: default;
    transform: scale(1.5);
}

#validIcons {
    margin-left: -350px;
}