<html>
    <body>
        <div>
          <label style="margin-right: 10px;">Likelihood of next state (1 to 99%):</label>
          <mat-form-field style="margin-left: 10px;">
            <input [(ngModel)]="currentProbability" matInput placeholder="Example: 50%"/>
            <div class="percent" matSuffix>
              %
            </div>
          </mat-form-field>
        </div>

        <div class="btn-group">
            <button mat-raised-button color="primary" style="border-radius: 5px; width: 80px; margin-right: 10px;" (click)="onOKButtonClicked()">OK</button>
            <button mat-raised-button mat-dialog-close style="background-color: '#595959'; border-radius: 5px; width: 80px; margin-left: 10px;">Cancel</button>
        </div>
    </body>
</html>