<html>
    <body>
    	<h3>Save behavior model</h3>
        <div>
          The model has errors. Check the list of errors at the bottom of the page.
          <br><br>
          Do you still wish to save the model? Until the model is valid, any simulation it is assigned to will not be deployable.
        </div>
        <br>
        <br>

        <div class="buttonContainer">
            <div class="btn-group">
                <button mat-raised-button color="primary" style="border-radius: 5px; width: 80px; margin-right: 10px;" (click)="onYesButtonClicked()">Yes</button>
                <button mat-raised-button mat-dialog-close style="background-color: '#595959'; border-radius: 5px; width: 80px; margin-left: 10px;" (click)="onNoButtonClicked()">No</button>
            </div>
        </div>
    </body>
</html>