<html>
    <body>
    	<h3 i18n="Title of the Behavior Model Edited modal">Edit behavior model</h3>
        <div i18n="Message of the Behavior Model Edited modal">
          The behavior model has been edited.
        </div>
        <br>
        <br>

        <div class="buttonContainer">
            <button mat-raised-button color="primary" style="border-radius: 5px; width: 80px; margin-right: -260px;" (click)="onOKButtonClicked()" i18n="Button of the Behavior Model Edited modal">OK</button>
        </div>
    </body>
</html>